:root {
  --rich-black: #071d21;
  --antique-white: #ffe9d2;
  --white: #fefefe;
  --background-white: #eee;
}

.testimonials-container {
  position: relative;
  width: 100%;
  min-height: 600px;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 16px;
  margin: 112px 0 50px 0;
}

.quote {
  position: absolute;
  top: -40px;
  left: 20px;
}

.quote-reversed {
  position: absolute;
  bottom: -40px;
  right: 20px;
  transform: rotate(180deg);
}

.testimonials-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-inner h2 {
  white-space: nowrap;
}

.btn-container {
  min-width: 48px;
  display: none;
}

.btn-reversed {
  transform: rotate(180deg);
}

.btn-testimonials {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 9999px;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  overflow-y: auto;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-container {
  text-align: center;
  max-width: fit-content;
}

.testimonial-container nav {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.explore-icon {
  border-radius: 9999px;
  width: 12px;
  height: 12px;
}
.dot {
  border-radius: 9999px;
  background-color: white;
  width: 8px;
  height: 8px;
}

.half-opacity {
  opacity: 0.5;
}

.rotate {
  transform: rotate(180deg);
}

.gallery-title {
  font-size: 24px;
  text-align: center;
  color: var(--rich-black);
  margin-top: 16px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.screenshot {
  border-radius: 20px;
}

.gallery-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #eee;
  position: fixed;
  top: 0;
  padding: 8px 0;
}

.gallery-header h3 {
  flex-grow: 1;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Escondido por padrão */
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .testimonials-container {
    padding-left: 64px;
    padding-right: 64px;
  }
  .quote {
    left: 80px;
  }
  .quote-reversed{
    right: 80px;
  }
  .testimonials-inner {
    min-height: 400px;
  }
  .btn-container {
    display: block;
  }
  .testimonials {
    padding: 0 24px;
  }
  .mobile {
    display: none;
  }
  .explore-icon {
    height: 8px;
    width: 8px;
  }
  .gallery-title {
    font-size: 36px;
  }
}