@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero {
  background-image: url(/home-desktop.png);
  @media (max-width: 767px) {
    background-image: url(/home-mobile.png);
  }
}

.hero-call {
  line-height: 1.1em;
}

.carousel {
  scroll-snap-type: x mandatory;
  scroll-padding: 0 24px;
  overflow-x: scroll;
  display: flex;
}

.carousel > div {
  flex-shrink: 0;
  scroll-snap-align: center;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.transition {
  height: 20vh;
  width: 100%;
  background: linear-gradient(#070708, #071d21);
}
